fieldset {
  width: 350px;
  margin: 10px auto;
  padding: 10px;
  background-color: rgb(237, 255, 239);
  z-index: 1;
}
legend {
  text-align: center;
  font-size: 24px;
  color: black;
}

#login {
  height: 25px;
  width: 100%;
  background-color: #d9d9d9;
}
#id {
  width: 350px;
  height: 25px;
  margin: 5px 0;
  background-color: #d9d9d9;
}
#password1 {
  width: 350px;
  height: 25px;
  margin: 5px 0;
  background-color: #d9d9d9;
}

#findId {
  height: 25px;
  background-color: #d9d9d9;
  margin: 0 auto;
}
#newSignUp {
  height: 25px;
  background-color: #d9d9d9;
  float: left;
}
#findPass {
  height: 25px;
  background-color: #d9d9d9;
  float: right;
}
.middle {
  text-align: center;
}
