img {
  width: 350px;
  height: 350px;
  padding-right: 20px;
}

h1 {
  margin: 0px;
}

p {
  margin: 0px;
}

.space {
  height: 20px;
}

.row {
  display: flex;
}

.row .spaceEven {
  justify-content: space-between;
}

.row .twoColumns {
  justify-content: space-between;
  width: 100%;
}

.column {
  flex-direction: column;
}
.column p {
  padding-bottom: 5px;
}
.column .textRight {
  text-align: right;
}

.colDivder {
  border: solid #d9d9d9 1px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.rowDivder {
  margin-top: 10px;
  margin-bottom: 20px;
  border: solid black 2px;
}

.highlight {
  background-color: #d9d9d9;
  padding: 10px;
  margin-bottom: 10px;
}

input {
  height: 20px;
}

button {
  height: 30px;
  background-color: #fff;
}
